.App {
  text-align: center;
}

.App-header {
  background-color: #2cbcd9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
  text-decoration: none;
}

.box {
  width: 100px ;
  height: 32px;
  background: rgb(221, 23, 23);
  border-radius: 15px;
}

.boxHome {
  width: 150px ;
  height: 32px;
  background:rgb(221, 23, 23);
  border-radius: 15px;
}

.boxHome:hover, .box:hover {
  background-color: rgb(87, 9, 6);
}

.text1 {
  white-space: pre-wrap;
  text-align: right;
  padding: 20px;
  margin-left: 364px;
}

.video {
  width: 500px;
  height: 300px;
  position: absolute;
  margin-top: -400px;
  margin-left: -650px;
}

.Header {
  transition: transform 250ms;
}
.Header:hover {
  transform: translateY(-10px);
}